<ul class="score__list">
  <li class="score__item">
    <div class="score__item-number">15</div>
    <div class="score__item-value">(-30 | +5)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">14</div>
    <div class="score__item-value">(-25 | +10)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">13</div>
    <div class="score__item-value">(-20 | +15)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">12</div>
    <div class="score__item-value">(-15 | +20)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">11</div>
    <div class="score__item-value">(-10 | +25)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">10</div>
    <div class="score__item-value">(-5 | +30)</div>
  </li>
  <li class="score__item wrong">
    <div class="score__item-number">9</div>
    <div class="score__item-value">(-0 | +35)</div>
  </li>
  <li class="score__item right">
    <div class="score__item-number">8</div>
    <div class="score__item-value">(-0 | +40)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">7</div>
    <div class="score__item-value">(-0 | +45)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">6</div>
    <div class="score__item-value">(-0 | +50)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">5</div>
    <div class="score__item-value">(-0 | +55)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">4</div>
    <div class="score__item-value">(-0 | +60)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">3</div>
    <div class="score__item-value">(-0 | +65)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">2</div>
    <div class="score__item-value">(-0 | +70)</div>
  </li>
  <li class="score__item">
    <div class="score__item-number">1</div>
    <div class="score__item-value">(-20 | +75)</div>
  </li>
</ul>


<!-- <div class="score__elementary"></div>
<div class="score__medium"></div>
<div class="score__hard"></div> -->