<div class="question">
  <div class="question__number">Question 1</div>
  <div class="question__screen">
    <div class="text">What is the Angular?</div>
  </div>
</div>
<div class="answers">
  <button class="answers__button right">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus, ab?</button>
  <button class="answers__button">Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, officiis?</button>
  <button class="answers__button">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, sint!</button>
  <button class="answers__button wrong">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, impedit!</button>
</div>
